<section class="container">
  <div class="container_form">
    <form>
      <label for="name">Nome do Produto</label>
      <input type="text" id="name" name="name">
      <label for="unity">Unidade de Medida</label>
      <select name="unity" id="unity">
        <option value=""></option>
        <option value="kg">kg</option>
        <option value="lt">lt</option>
        <option value="lt">un</option>
      </select>
      <label for="quantity">Quantidade</label>
      <input type="number"  id="quantity" name="quantity">
      <label for="price">Preço</label>
      <input type="number"  id="price" name="price">
      <div class="checkbox">
        <span>Produto perecível</span>
        <label for="true">Sim</label>
        <input type="checkbox"  id="true" name="true" >
        <label for="false">Não</label>
        <input type="checkbox"  id="false" name="false">
      </div>
      <label for="validate_date">Data de validade</label>
      <input type="date"  id="validate_date" name="validate_date">
      <label for="manufacturing_date">Data de fabricação</label>
      <input type="date"  id="manufacturing_date" name="manufacturing_date">

      <div class="btn_actions">
        <button class="btn_cancel">Cancelar</button>
        <button class="btn_save">Salvar</button>
      </div>
    </form>
  </div>
</section>
