* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #181C2A;
  font-family: "Nunito Sans", sans-serif;
  color: #E6E8F2;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
.toast-success {
  position: absolute;
  top: 5px;
  right: 0;
  width: 200px;
  padding: 8px;
  background-color: #00875F;
  border-radius: 8px;
  color: #E6E8F2;
}

.toast-error {
  position: absolute;
  top: 5px;
  right: 0;
  width: 200px;
  padding: 8px;
  background-color: #dc3545;
  border-radius: 8px;
  color: #E6E8F2;
}

