* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #181C2A;
  font-family: "Nunito Sans", sans-serif;
  color: #E6E8F2;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
