.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #303F73;
  text-align: left;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

button img {
  width: 20px;
  height: 20px;
}

button:hover img {
  opacity: 0.8;
}
